body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the page fills the entire screen */
}


header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

h2 {
    text-align: center; 
    margin: 20px 0; 
}


nav {
    text-align: center;
    background-color: #007BFF; 
    padding: 15px 0;
    margin-top: 20px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white; 
    text-decoration: none;
    font-size: 1.2rem; 
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    flex: 1; 
}


footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: auto; 
}

footer p {
    margin: 0;
}
